body{
    background: color #fff8f0;
    font-family: arial,sans-serif;
    margin: 0;
    padding: 0;
    line-height:1.5;
    text-align:center;

}
header{
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    padding: 1rem;
    
}
header h1{
    margin: 0;
}
nav ul{
    text-decoration: none;
}
nav li{
    text-align: left;
    text-decoration: none;
    list-style:circle;
    
}
#hero{
    background-color: #f39c12;
    color: white;
    padding: 3rem;
    text-align: center;
    font-size: 1.5rem;
}
section{
    padding: 2rem;
    margin: auto;
    background-color: greenyellow;
}
#about{
    background-color: #7f5005;
    color: white;
    padding: 3rem;
    text-align: center;
    font-size: 1.5rem;
}
#menu{

    background-color: #ffffff;
    color: rgb(255, 0, 0);
    padding: 0rem;
    text-align: center;
    font-size: 1.5rem;
}
#menu li{
    text-align: left;
    font-size: 1rem;
}
footer{
    text-align: center;
    background-color: #d35400;
    color: white;
    margin-top: 2rem;

}
table{
    background-color: rgb(243, 171, 2);
    color: black;
}
